#latest-news

  .tile.is-parent

  .is-preview
    background: white
    position: relative

    a
      color: $primary

    .button
      position: absolute
      bottom: -37px
      right: 0
      border: 0
      background: $primary
      color: white
      border-radius: 0

    &:hover
      background: $white-ter
      color: darken($primary, 30%)
      border-color: darken($primary, 30%)

      a
        color: darken($primary, 30%)

      .button
        background: darken($primary, 30%)
        color: white




