.blog-post

  .title.is-size-huge,
  .title:not(:last-child).is-size-huge
    font-size: 3rem
    margin: 3rem 0
    line-height: 1.3

.blog-post .content
  font-size: 1.2rem
  line-height: 1.6

  h1,
  h1:not(:first-child)
    margin-top: 3rem
    font-size: 2rem
    line-height: 1.6

  h2,
  h2:not(:first-child)
    margin-top: 3rem
    font-size: 1.5rem
    line-height: 1.6

  p:not(:last-child)
    margin-top: 1.5em

  .taglist
    list-style: none
    margin: 1.5rem 1.5rem 0 0
    display: flex
    flex-wrap: wrap
    justify-content: left
    align-items: center

    li
      padding: 0 .5rem 1rem 0
      margin-bottom: 1.5rem
      margin-top: 0

      a:hover
        text-decoration: none
        background-color: darken($primary, 10%)

.next-post

  a
    display: block
    margin-top: 1rem

.blog-post .breadcrumb
  margin-top: 2rem
  text-transform: uppercase
  font-size: .8rem

  a
    color: $black
