#blog

  .hero
    background: center
    background-size: cover

  .has-margin-top
    margin-top: 3rem

  .has-margin-bottom
    margin-bottom: 3rem

  article.notification
    position: relative
    padding: 2rem
    overflow: hidden

    @media (min-width: 769px)
      height: 30rem
      padding: 1.25rem 2.5rem 1.25rem 1.5rem

      .title
        text-transform: uppercase

    .title.is-3
      font-size: 1.6rem

      @media (min-width: $fullhd)
        font-size: 2rem

    .sh-blog-date
      margin: 1rem 0

    @media (min-width: $desktop)
      &:after
        content: ''
        width: 0
        height: 100%
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: $black
        transition: width .4s cubic-bezier(.77,0,.175,1),opacity 50ms linear .4s
        z-index: 1

      &.is-black:after
        background: $primary

      &:hover:after
        width: 100%

      &:hover
        color: white

    .sh-blog-content
      position: relative
      z-index: 2

    .sh-blog-link
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 3