.default-page

  .background-image

    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: rgba(0,0,0,.5)
      z-index: 2

    .hero-body
      background-position: center
      background-size: cover

  .content
    margin-top: 6rem
    margin-bottom: 6rem
