.sh-hotel-header
  margin-bottom: 2rem
  font-size: 1rem

.sh-hotel-gallery
  margin-bottom: 3rem

.sh-hotel-services
  margin-bottom: 3rem
  padding-bottom: 3rem
  border-bottom: 1px solid $white-ter

  .sh-hotel-services-list
    list-style: none
    padding: 0
    margin: 0
    columns: 2
    font-size: 1.1rem

.sh-hotel-info
  margin-bottom: 3rem

  .content
    font-size: 1.1rem
    line-height: 1.6

    h1,
    h1:not(:first-child),
    h2,
    h2:not(:first-child),
    h3,
    h3:not(:first-child)
      font-size: 1rem
      text-transform: uppercase
      margin-top: 3rem
      margin-bottom: 2rem

.sh-hotel-map
  min-height: 30rem
  margin-bottom: 3rem