@import "~bulma/sass/utilities/initial-variables"

// Utils
@import "utils/_variables"
@import "utils/_animations"
@import "utils/_loader"

// Components
@import "components/navbar"
@import "components/hero"
@import "components/home-search"
@import "components/home-mosaic"
@import "components/featured-hotels"
@import "components/latest-news"
@import "components/block-icons"
@import "components/block-text"
@import "components/block-text-board"
@import "components/block-text-image"
@import "components/tile"
@import "components/join-community"
@import "components/newsletter"
@import "components/find-booking"
@import "components/views-alert"
@import "components/map"
@import "components/social-share"
@import "components/ante-footer"
@import "components/footer"
@import "components/cookie-bar"

// Templates
@import "templates/blog"
@import "templates/blog-post"
@import "templates/default"
@import "templates/mission"
@import "templates/faq"
@import "templates/careers"
@import "templates/hotel"
@import "templates/destinations"
@import "templates/contact"

// General
html
  overflow-y: auto !important

body.has-overflow-hidden
  overflow: hidden
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

a,
.button
  transition: all .2s ease-in-out

.menu-list

  li
    position: relative

    .li-icon
      position: absolute
      top: 0
      left: 0

// Colors
.is-accent
  background-color: $accent

.has-background-primary
  background-image: linear-gradient(-45deg, #6690E8 0%, #ED3BC0 100%) !important

.has-background-secondary
  background-image: linear-gradient(-45deg, #6A82E7 0%, #10E8D7 100%) !important

.notification.is-primary
  //background-color: $secondary
  background-image: linear-gradient(-45deg, #6690E8 0%, #ED3BC0 100%)
  color: white

.notification.is-secondary
  //background-color: $secondary
  background-image: linear-gradient(-45deg, #6A82E7 0%, #10E8D7 100%)
  color: white

.notification.is-greenish
  //background-color: $secondary
  background-image: linear-gradient(-45deg, #3AB0B5 0%, #54E297 100%)
  color: white

.notification.is-sunset
  //background-color: $secondary
  background-image: linear-gradient(-45deg, #F9D668 0%, #F46300 100%)
  color: white

.has-background-gradient-primary
  background-image: linear-gradient(-45deg, #6690E8 0%, #ED3BC0 100%)

.has-background-gradient-secondary
  background-image: linear-gradient(-45deg, #6A82E7 0%, #10E8D7 100%)

.button.is-violet
  background-color: #6A82E7
  color: white
  border-color: #6A82E7
  transition: all .2s ease-in-out

  &:hover,
  &:focus
    color: white
    background-color: darken(#ED3BC0, 10%)

// Helper Classes
.is-centered
  text-align: center

.has-margin-bottom
  margin-bottom: 3rem

.has-margin-top
  margin-top: 3rem

.is-primary-gradient
  background: linear-gradient(-45deg, #C53364 0%, #622774 100%)

.has-background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-size: cover
  background-position: center

.has-border-left

  @media (min-width: $tablet)
    border-left: 1px solid $white-ter

.has-text-small
  font-size: .9rem

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center


.is-flex
  display: flex
  justify-content: space-between

  &.is-flex-end
    align-items: flex-end
  &.is-flex-center
    align-items: center

.has-small-padding
  padding: 1rem

.is-image-wrapper
  position: relative
  display: block
  width: 100%
  height: 100%
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-position: 50% 50%
    object-fit: cover
    font-family: 'object-position: 50% 50%; object-fit: cover;'

  &.has-position-absolute
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0


.is-loader-wrapper
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  .hexagon
    width: 100px
    height: 55px
    position: relative
    display: inline-block
    animation: fade 3s linear infinite
    -webkit-animation: fade 3s linear infinite

    &:before
      content: ""
      position: absolute
      top: -25px
      left: 0
      width: 0
      height: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent

    &.hexagon:after
      content: ""
      position: absolute
      bottom: -25px
      left: 0
      width: 0
      height: 0
      border-left: 50px solid transparent
      border-right: 50px solid transparent

    &.is-accent
      background: $accent
      top: 25px
      left: 50px

      &:before
        border-bottom: 25px solid $accent

      &:after
        border-top: 25px solid $accent


.is-fill
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  img
    flex-shrink: 0
    min-width: 100%
    min-height: 100%
    border-radius: 4px


.title.is-light
  font-weight: 300

.has-text-weight-semi-bold
  font-weight: 600

.margin-top-0
  margin-top: 0 !important

.notification.has-icon-right
  padding-right: 4rem

.button.is-large.has-text-medium
  font-size: 1.3rem

// content
.content
  font-size: 1.2rem
  line-height: 1.6

  p:not(:last-child)
  margin-top: 1.5em

@import "~bulma"
