@import "~bulma/sass/utilities/initial-variables"

// Utils
@import "utils/_variables"
@import "utils/_animations"

// Components
@import "components/navbar"
@import "components/hero"
@import "components/home-search"
@import "components/home-mosaic"
@import "components/featured-hotels"
@import "components/latest-news"
@import "components/block-icons"
@import "components/block-text"
@import "components/block-text-board"
@import "components/block-text-image"
@import "components/tile"
@import "components/join-community"
@import "components/newsletter"
@import "components/find-booking"
@import "components/map"
@import "components/ante-footer"
@import "components/footer"

// Templates
@import "templates/blog"
@import "templates/blog-post"
@import "templates/default"
@import "templates/mission"
@import "templates/faq"
@import "templates/careers"
@import "templates/hotel"
@import "templates/contact"

// General
body.has-overflow-hidden
  overflow: hidden
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

a,
.button
  transition: all .2s ease-in-out

.menu-list

  li
    position: relative

    .li-icon
      position: absolute
      top: 0
      left: 0

// Helper Classes
.is-centered
  text-align: center

.has-margin-bottom
  margin-bottom: 3rem

.is-primary-gradient
  background: linear-gradient(-45deg, #C53364 0%, #622774 100%)

.has-background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-size: cover
  background-position: center

.has-border-left

  @media (min-width: $tablet)
    border-left: 1px solid $white-ter

.has-text-small
  font-size: .9rem

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center


.is-flex
  display: flex
  justify-content: space-between

  &.is-flex-end
    align-items: flex-end
  &.is-flex-center
    align-items: center

.has-small-padding
  padding: 1rem

.is-image-wrapper
  position: relative
  display: block
  width: 100%
  height: 100%
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-position: 50% 50%
    object-fit: cover
    font-family: 'object-position: 50% 50%; object-fit: cover;'

  &.has-position-absolute
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.is-loader
  width: 100%
  height: 100vh

.is-fill
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  img
    flex-shrink: 0
    min-width: 100%
    min-height: 100%
    border-radius: 4px


.title.is-light
  font-weight: 300

.margin-top-0
  margin-top: 0 !important

// content
.content
  font-size: 1.2rem
  line-height: 1.6

  p:not(:last-child)
  margin-top: 1.5em

@import "~bulma"
